{% block body %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <header>
        <div class="top">
            <h1>Flask Web</h1>
        </div>
    </header>
    <div align="center">
        {% if not current_user.is_authenticated %}
        <button class="btn-1" onclick="location.href='{{ url_for('login') }}'">Login</button>
        <button class="btn-2" onclick="location.href='{{ url_for('register') }}'">Register</button>
        {% else %}
        <button class="btn-3" onclick="location.href='{{ url_for('home') }}'">Home</button>
        {% endif %}
    </div>
</body>
{% endblock %}