{% extends "base.html" %}

{% block sidebar %}

<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sidebar.css') }}">
</head>

<body>
    <h1 style="color: white;">Flask Web</h1>
    {% if not request.path == '/home' %}
    <button class="sbtn-1" onclick="location.href='{{ url_for('home') }}'">Home</button>
    {% endif %}
    {% if not request.path == '/profile' %}
    <button class="sbtn-1" onclick="location.href='{{ url_for('profile') }}'">Profile</button>
    {% endif %}
</body>

{% endblock %}